# API
API_PORT=8000
DB_URL=mysql+asyncmy://user:pass@mysql:3306/taskflow
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=task.topic
RABBITMQ_ROUTING_KEY=task.created
DB_ECHO=false
DB_CONNECT_ATTEMPTS=10
DB_CONNECT_BACKOFF=2.0
CORS_ALLOW_ORIGINS=*

# Worker
WORKER_PREFETCH=8
RABBITMQ_CONNECT_ATTEMPTS=10
RABBITMQ_CONNECT_BACKOFF=2.0
DB_CONNECT_ATTEMPTS=10
DB_CONNECT_BACKOFF=2.0
